body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.app {
  max-width: 400px;
  margin: 30px auto;
  text-align: center;
}

nav {
  padding: 5px;
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.book-list {
  padding: 20px;
  margin-bottom: 20px;
}

.book-list ul {
  padding: 0;
  list-style: none;
}

.book-list li {
  padding: 10px;
}

